<div class="container">
    <div class="row" id="pe">
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBDvniktB1URyVAYs9oPwSTf09pm2nTQwsUQ&usqp=CAU" class="img-fluid" alt="signo eclamación">
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
            <h3>La página que está tratando de acceder no existe</h3>
        <div>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/">
                <button class="btn btn-dark">Regresar</button>
            </a>        
        </div>
    </div>
</div>

