<form [formGroup]="formulario" (ngSubmit)="guardarEducacion()">
    <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Institucion: </span>
        <input type="text" class="form-control" placeholder="Institucion" formControlName="institucion">
    </div>

    <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Titulo: </span>
        <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo">
    </div>

    <div class="input-group flex-nowrap mt-2">
        <label class="input-group-text texto-titulo">Fecha Egresado: </label>
        <input type="date" class="form-control" placeholder="fecha egresado" formControlName="fechafin">
    </div>

    <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Certificado: </span>
        <input type="text" class="form-control" placeholder="subir certificado" formControlName="institucionurl">
    </div>

    <div class="input-group flex-nowrap mt-2">
        <span class="input-group-text">Logo Instituto: </span>
        <input type="text" class="form-control" placeholder="subir logo instituto" formControlName="fotourl">
    </div>


    <div>
        <button class="btn btn-primary">Guardar</button>
    </div>
    <div>
        <button class="btn btn-primary" (click)="cerrarModal()">Cerrar</button>
    </div>
</form>